p {

    text-align: justify;
    line-height: 1.6;
    font-size: 16px;
    font-family: 'Arial', sans-serif;
    margin: 20px 0;
    color: #333;
    letter-spacing: 0.5px;
    padding: 10px;
 
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}


body {
    background: linear-gradient(135deg, #f0f4f8, #d9e4ec, #a6c1de);
}


header {
    background: linear-gradient(135deg, #f0f4f8, #d9e4ec, #a6c1de);
}


.navbar-brand .logo {
    max-width: 100px;
    max-height: 100px;
    margin-left: 60px;
}




.ideas-section {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.ideas-section img {
    max-width: 100%;
    height: auto;
}

#volunteerForm .btn-primary,
#volunteerForm .btn-secondary {
    background-color: black;
    
}


footer {
    background: linear-gradient(135deg, #f0f4f8, #d9e4ec, #a6c1de);
}

footer p {
    text-align: center;
}